PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
PORT=
CORS_ORIGIN=http://localhost:4200
DISCORD_WEBHOOK_URL=
TTS_PROVIDER=google
RECORDED_AUDIO_BASE_URL=/assets/audio
RECORDED_AUDIO_EXT=mp3
TTS_ROOM_TYPE_DEFAULT=doctor_room
RECORDED_AUDIO_SUFFIX_TOKEN=ka
