PORT=
CORS_ORIGIN=

PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=

MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

LDAP_URL=
LDAP_RESTRICT_OU=
LDAP_BASE_DN=
LDAP_DOMAIN=
LDAP_DOMAIN_SUFFIX=
LDAP_ADMIN_GROUP=
LDAP_CID_ATTRIBUTE=
LDAP_CA_CERT_PATH=
LDAP_TLS_SERVER_NAME=
LDAP_TLS_REJECT_UNAUTHORIZED=

SESSION_COOKIE_NAME=
SESSION_SECRET=
SESSION_SECURE=
SESSION_MAX_AGE_MS=

ASSETS_DIR=
